body{
    margin: 0;
    width: 100vw;
}
header{
    background-image:url("../img/love lessons header.jpeg");
    background-size:cover;
    height: 10vh;
    text-align: center;
    margin-top: 0;
    color: rgb(236, 233, 216);
}
h1{
    display: inline-block;
    vertical-align: middle;
}
nav{
    
    background-color: rgb(236, 233, 216);
    color: #70596f;
    height: 5vh;

}
section{
    display: grid;
    grid-template-columns: 60vw, 40vw;
    grid-template-rows: auto, auto;
    grid-gap: 3vw;
    margin: 3vw;

    
}
article{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;

}
.img{
    width: 40vw;
}
#img1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}
#img2{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
footer{
    display: flex;
    align-items: center;
    background-color: rgb(236, 233, 216);
    height: 5vh;
    position: fixed;
    bottom: 0;
    width: 100vw;

}
footer img{
    height: 4vh;
    color: #70596f;
    margin-left: 1vw;
    
}
#planering{
    margin-left: auto;
    margin-right: 1vw;
}


