body{
    margin: 0;
    width: 100vw;
}
header{
    background-image:url("../img/love lessons header.jpeg");
    background-size:cover;
    height: 12vh;
    text-align: center;
    margin-top: 0;
    color: rgb(236, 233, 216);
    
}
h1{
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;
    font-size: 7vw;

}
button{
    height: 6vh;
    background-color: inherit;
    border: 0;
    margin-left: -60px;
}
button img{
    height: 6vh;
    
}
#nav{
    display: none;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: rgb(236, 233, 216);
    color: #70596f;
    height: 5vh;
    font-size: 1em;
}
#upnav{
    display: none;
}
#upnav.active{
    display: grid;
    grid-template-rows: 20vh, 20vh, 20vh, 20vh, 20vh;
    grid-gap: 1vh;
    background-color:rgb(236, 233, 216); 
    text-align: center;
    font-size: 20px;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

section{
    margin: 3vw;
}
.img{
    width: 64vw;
    margin-left: auto;
    margin-right: auto;
}

footer{
    display: flex;
    align-items: center;
    background-color: rgb(236, 233, 216);
    height: 5vh;
    position: fixed;
    bottom: 0;
    width: 100vw;

}
footer img{
    height: 4vh;
    color: #70596f;
    margin-left: 1vw;
    
}
#planering{
    margin-left: auto;
    margin-right: 1vw;
}
#om{
    margin-left: auto;
    margin-right: 1vw;
}

@media screen and (min-width: 500px){
    button{
        display: none;
    }
    #nav{
        display: flex;
    }
    #upnav{
        display: none;
    }
    h1{
        margin-left:0;
    }
    section{
        display: grid;
        grid-template-columns: 60vw, 40vw;
        grid-template-rows: auto, auto;
        grid-gap: 3vw;
    
    }
    article{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    
    }
    #img1{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    #img2{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }
}

@media screen and (min-width: 900px){
    button{
        display: none;
    }
    h1{
        margin-left:0;
    }
    #nav{
        display: flex;
    }
    #upnav{
        display: none;
    }
    section{
        grid-gap: 1vw;
    
    }
    .img{
        width: 30vw;
    }
}


